
{{ $categories := (slice "Programming" "Hardware" "Software") }}

{{ range $index, $category := $categories }}
<section class="category-section">
  <h2>
    <a href="/category/{{ $category | urlize }}" class="category-title-link">
      {{ $category }}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-4">
        <path d="m9 18 6-6-6-6"/>
      </svg>
    </a>
  </h2>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {{ $categoryPosts := first 3 (where .Site.RegularPages "Type" "posts") }}
    {{ range $categoryPosts }}
    {{ partial "article-card.html" (dict "article" . "variant" "default") }}
    {{ end }}
  </div>
</section>
{{ end }}
